$base-color: #040404;
// $base-color: #121212;
$sidebar: #121212;
$section: #ebebeb;
$secondary: #383838;
$tertiary: #808080;
$accent: #f40035;

//! POST
.post-feed {
  position: relative;
  height: fit-content;
  width: 87%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: rgb(15, 15, 15);
  border-radius: 5px;

  .animated-header {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 7px;
    width: calc(100% - 7px);
    border-radius: 0;
  }

  .post-header {
    display: flex;
    height: 90px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(11px) saturate(250%);
    -webkit-backdrop-filter: blur(11px) saturate(250%);
    border-radius: 0 5px;

    z-index: 5;
    border-radius: 5px;
    .post-tags {
      display: flex;
    }
    .post-user {
      width: calc(56px + 70%);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.4em;
    }
    .post-username {
      display: flex;
      align-items: flex-end;
    }

    .post-title {
      padding: 0 7px;
    }
  }

  .post-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    flex-basis: 35%;
    min-height: 160px;
    padding: 10px;
    position: relative;
    height: fit-content;
    max-height: 700px;
    background-color: $base-color;
    border-radius: 0 0 20px 20px;
    height: 100%;

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgb(128, 128, 128, 0.25);
    }

    .comment-list {
      padding-top: 3px;
      padding-left: 5px;
      max-height: 142px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      font-size: 0.95em;
    }
  }
}

.post-body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 85px;
  height: min-content;
  background-color: $base-color;
  border-radius: 20px 20px 0px 0px;

  .content-wrapper {
    width: 100%;
    height: 100%;
  }

  .footer-controls {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    z-index: 3;

    .toggle-comments {
      z-index: 6;
      position: absolute;
      top: 7px;
      left: 10px;
      cursor: pointer;
    }

    .toggle-soundbar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      // z-index: 10;
    }

    .activate-footer {
      z-index: 6;
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-height: 22px;
  max-height: 70px;

  overflow-y: scroll;
  padding: 10px 5px;
}

.divider {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
  // opacity: 10%;
  opacity: 0%;
  background-color: $section;
}

.lower-right {
  position: relative;
  right: 0;
  top: 0;
  width: 90%;
  height: 50px;
}

.body-comments {
  position: absolute;
  width: 30%;
  left: 15px;
  top: 37px;
  display: flex;
  flex-direction: column-reverse;

  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgb(18, 18, 18, 0.8);
  border-radius: 10px;
  padding: 0px 12px;
  max-height: calc(100% - 120px);
  overflow-y: hidden;
  overflow: scroll;
  z-index: 9;
  font-size: 0.95em;
}

.comment-section {
  width: 100%;
  padding-top: 3px;
  //set width here let children fill, scales better
}

.comment-username {
  font-size: 1.05em;
  font-weight: bold;
}

.comment {
  padding: 0.1em 0;
}

.new-comment-wrapper {
  bottom: 0;
  margin-bottom: 5px;
  width: 100%;

  .comment-form {
    display: flex;
    width: 100%;

    position: relative;
    align-items: center;
    flex-direction: row;
    align-content: center;

    .new-comment-input {
      position: relative;
      padding: 10px;
      min-width: 100%;
      flex: 1;
      border: none;
      outline: none;
      background-color: #202020;
      color: $section;
      border-radius: 3px;
      font-size: 15px;
    }

    .send-comment {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 40px;
      height: 40px;
      width: 40px;
      border: none;
      background: none;
      outline: none !important;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
}

.footer-stats {
  position: absolute;
  right: 14px;
  bottom: 5%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.1em;
  font-size: 0.98em;
  font-weight: normal;
  color: #ebebebb9;
}

.interact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100px;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.25);
  }
}

.likes {
  position: absolute;
  left: 25px;
  top: 7px;
  display: flex;
  gap: 0.5em;
  font-size: 20px;

  .like-icon {
    cursor: pointer;
    transition: transform 0.2s linear;
  }
  .like-icon:hover {
    transform: scale(1.1);
  }
}

.bookmark {
  position: absolute;
  right: 10px;
  top: 7px;

  .bookmark-icon {
    cursor: pointer;
    transition: transform 0.2s linear;
  }
  .bookmark-icon:hover {
    transform: scale(1.1);
  }
}

.post-link {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  right: 50px;
  top: 11px;
}

.repost {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  right: 90px;
  top: 11px;
  cursor: pointer;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
