$base-color: #040404;
// $base-color: #121212;
$sidebar: #131212;
$section: #ebebeb;
$secondary: #383838;
$tertiary: #808080;
$accent: #f40035;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

html {
  background-color: $base-color;
  color: $section;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.dash-layout {
  color: $section;
  background-color: $base-color;
  height: 100vh;
}

//! HEADER
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 15px;
  border-bottom: 1px solid rgb(235, 235, 235, 0.5);
  z-index: 10;
  backdrop-filter: blur(4px);

  .logo {
    position: fixed;
    top: 2px;
    left: 0%;
  }

  .search-container {
    position: absolute;
    left: 50%;
    top: 18px;
  }

  //! PROFILE AND UPLOAD

  .dropdown-container {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;

    .dropdown {
      overflow: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .add-new-dropdown {
      position: absolute;
      right: 76px;
      .add-new-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 116px;
        font-size: 1.1em;
        padding: 5px;
        margin: 10px 0;
        background: $secondary;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    .profile-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      margin-bottom: 5px;
      max-width: 56px;
    }

    .dropdown-content {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      cursor: pointer;
      width: 116px;
      // background-color: rgb(56, 56, 56, 0.85);
    }

    .dropdown-row-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4em;
      padding: 10px;
      border-radius: 5px;
      background-color: rgb(56, 56, 56, 0.85);
      transition: background-color 0.25s;
      max-height: fit-content;

      &.up {
        border-radius: 5px 5px 0 0;
      }

      &.down {
        border-radius: 0 0 5px 5px;
      }
    }
    .dropdown-row-content:hover {
      background-color: rgba(41, 40, 40, 0.98);
    }

    .menu-devider {
      background-color: rgb(235, 235, 235, 0.8);
    }
  }
}

//! SIDEBAR
.sidebar {
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  min-width: 130px;
  width: 22%;
  // max-width: ;
  left: 0;
  border-right: 1px solid rgb(235, 235, 235, 0.5);
  background-color: $sidebar;

  .sidebar-content {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    padding-top: 1em;
    gap: 1.2em;
    align-items: center;

    .sidebar-devider {
      width: 100%;
      background-color: $section;
      opacity: 20%;
    }

    .sidebar-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .sidebar-tag-section {
        padding-bottom: 5px;
      }
    }

    .sidebar-content {
      display: flex;
      flex-direction: column;
    }

    .content-title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5em;
      padding-left: 14%;
      padding-bottom: 10px;
    }

    .sidebar-row {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      align-items: center;
      padding-left: 15%;

      .row-content {
        height: 50px;
        width: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        padding-left: 15px;
        border-radius: 5px;
        transition: background-color 0.25s;
      }
    }
    .row-content:hover {
      background-color: #262626;
    }
  }
}

//! FOOTER

.footer {
  position: fixed;
  bottom: 0;
  left: calc(22% - 1px);
  height: 70px;
  width: 80%;
  z-index: 10;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 18, 18, 0.95);
    border-top: 1px solid rgb(235, 235, 235, 0.5);
    border-left: 1px solid $sidebar;
    border-right: 1px solid $sidebar;
    transform-origin: bottom left;

    .footer-player {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .footer-info {
      width: 15%;
      display: flex;
      flex-direction: row;
      gap: 1em;

      .post-user {
        width: calc(56px + 70%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.4em;
      }
      .post-username {
        display: flex;
        align-items: flex-end;
      }
    }

    .close-footer {
      cursor: pointer;
      padding-right: 20px;
    }
  }
}

.modal {
  position: fixed;
  left: 45%;
  top: 15px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;

  .x {
    position: absolute;
    right: 10px;
    top: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  .modal-styles {
    background-color: rgb(18, 18, 18, 0.85);
    border-radius: 10px;
  }
}

//! PAGE: USER / TAG
.content-page {
  position: absolute;
  top: 70px;
  left: 22%;
  width: calc(100% - 22%);
  display: flex;
  flex-direction: column;

  .content-header {
    display: flex;
    // border-bottom: 1px solid rgb(235, 235, 235, 0.5);
    width: 100%;
    height: fit-content;
    flex-direction: row;
    padding: 50px 20px;
    align-items: center;
    justify-content: center;

    .user-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;

      .user-left {
        display: flex;
        justify-content: flex-end;
        gap: 2.5em;
      }

      .user-header-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;

        .tag-spotlight {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          font-weight: bold;
        }
      }
      .name-desc {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        .username {
          font-size: 2em;
        }
        .user-desc {
          max-width: 300px;
          flex-grow: 2;
        }
      }
      .social {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        font-weight: bold;
      }
    }
    .user-spotlight {
      margin: 20px;
      display: flex;
      justify-content: space-between;

      .song-spotlight {
      }
    }
    .follow {
      display: flex;
      flex-direction: row;
      gap: 0.4em;
      font-weight: bold;
    }

    .tag-info {
      display: flex;
      width: 95%;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      gap: 10%;

      .tag-relation {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        height: fit-content;
      }
      .tag-social {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1em;

        .tag-connect {
          display: flex;
          font-display: row;
          justify-content: space-around;
        }
      }
    }
  }
}

//! FEED
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding-top: 2em;
  padding-bottom: 5em;
  min-height: 110vh;
}

//! Auth menu, in Signin/Up

.auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  background-color: rgb(4, 4, 4, 0.7);
  height: 100%;
  min-width: 100%;
  max-height: 470px;
}

//! FORMS
//! LOGIN/SIGNUP : NEW POST/TAG
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-user-form {
  background-color: rgb(18, 18, 18, 0.85);
  margin-top: 50px;
  width: 40%;
  border-radius: 10px;

  .picture-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
  }

  .picture-header {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 0.5em;
  }
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  padding: 40px;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;

  .form-label {
    font-size: 17px;
    font-weight: bold;
    color: $section;
    width: 250px;
  }

  .form-input {
    background: #dee1e2;
    color: $base-color;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .form-input:focus {
    background: #d3d3d4; //Change
  }

  .file-input {
    display: inline-block;
    box-sizing: border-box;
  }

  .tag-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
}

.field-info {
  font-size: 12px;
  font-weight: normal;
  color: #ebebeba8;
}

.grayed {
  font-weight: normal;
  color: #ebebebd0;
}

.file-input {
  border: none;
  color: $section;
}

.button-row {
  display: flex;
  align-items: center;
}

.tag-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1em;

  .tag-col {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-self: flex-start;
  }

  .selected-label {
    font-size: 17px;
    font-weight: bold;
    color: $section;
  }
}

//! TAGS
.tag-group {
  display: flex;
  gap: 0.7em;
}

.tag-selection {
  display: flex;
  flex-wrap: wrap;
  width: 185px;
  min-height: 54px;
  max-height: 86px;
  border-radius: 5px;
  gap: 0.5em;
  background-color: #262626;
  padding: 15px;
  overflow: scroll;
}

.tags-user {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 345px;
  max-height: 86px;
  border-radius: 5px;
  gap: 0.5em;
  background-color: #262626;
  padding: 15px;
  overflow: scroll;
}

.tags-inheritance {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  max-width: 350px;
  max-height: 120px;
  border-radius: 5px;
  gap: 0.5em;
  background-color: #262626;
  padding: 15px;
  overflow: scroll;
}

.sidebar-tags-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .sidebar-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em 0.8em;
    flex-wrap: wrap;
    min-width: 100px;
    max-width: 280px;
    max-height: 156px;
    border-radius: 5px;
    background-color: #262626;
    padding: 15px;
    margin: 0 6px;
    overflow-y: scroll;
  }
}

// https://codepen.io/nw/pen/GRBqEV
.tag {
  font-size: 0.9em;
  font-weight: 500;
  width: 72px;
  // width: 75px;
  height: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4px;
  color: $base-color;
  position: relative;
  transition: transform 0.25s;
  box-shadow: 0 0 0 0 transparent;

  .x {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    right: 1px;
  }

  &:hover {
    // color: $section;
    transition: all 0.2s ease-out;
    transition: all 0.2s ease-in;
    transform: scale(1.1, 1.1);
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
  }

  &:before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
  }
}

.tag-large {
  font-size: calc(0.9em * 2);
  font-weight: bold;
  width: calc(72px * 2.5);
  height: calc(24px * 2.5);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $base-color;
  transition: all 0.2s ease-in;
  transition: all 0.2s ease-out;
}

//! BUTTONS

//! SUBMIT BUTTON

.base-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  font-size: 18px;
  background-color: #28282d;
  color: $section;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  gap: 0.3em;
}
.base-button:hover {
  background-color: #383838;
}

.main-button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-button::after,
.main-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.main-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.main-button.following::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0c4af5;
  border-radius: 10px;
}

.main-button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.main-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.main-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.main-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

//! OTHER

.persist-button {
  padding: 10px;
}

.link-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .copy-message {
    position: absolute;
    width: 55px;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 18, 18, 1);
    backdrop-filter: blur(1px);
    border: 1px solid rgb(235, 235, 235, 0.5);
    padding: 2px;
    border-radius: 4px;
    color: #ebebeba8;
    opacity: 0.7;
    z-index: 10;
  }
}

.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper-39 .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
}

.checkbox-label {
  padding-left: 15px;
}

//! SEARCH BUTTON

.search-button {
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

//! Porfile Pictures
.pic-small {
  width: 56px;
  height: 56px;
  border-radius: 20%;
}

.header-username {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
}

.user-page-profile-pic {
  width: 160px;
  height: 160px;
  background-color: $tertiary;
  border-radius: 20%;
}

//! Cropper
.img-upload-container {
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(18, 18, 18, 0.9);
  z-index: 50;

  .crop-container {
    height: 90%;
    width: 100%;
    padding: 10px;

    .cropper {
      height: 90%;
      position: relative;
    }

    .slider {
      padding: 22px 0px;
    }

    .zoom-range {
      height: 2px;
      border-top: 5px solid $section;
      border-bottom: 5px solid $section;
      background: #3f51b5;
      width: 100%;
    }
  }

  .crop-buttons {
    height: 10%;
    display: flex;
    gap: 1em;
    justify-content: center;
  }
}

//! BORDER ANIMATION
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
