$base-color: #040404;
// $base-color: #121212;
$sidebar: #121212;
$section: #ebebeb;
$secondary: #383838;
$tertiary: #808080;
$accent: #f40035;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

html {
  background-color: $base-color;
  color: $section;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.dash-layout {
  color: $section;
  background-color: $base-color;
  height: 100vh;
}

//! HEADER
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 15px;
  border-bottom: 1px solid rgb(235, 235, 235, 0.5);
  z-index: 10;
  backdrop-filter: blur(3px);

  .logo {
    position: fixed;
    top: 5px;
    left: 7%;
  }

  .search-container {
    position: absolute;
    left: 50%;
    top: 18px;
  }

  //! PROFILE AND UPLOAD

  .dropdown-container {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;

    .dropdown {
      overflow: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .add-new-dropdown {
      position: absolute;
      right: 76px;
      .add-new-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 116px;
        font-size: 1.1em;
        padding: 5px;
        margin: 10px 0;
        background: $secondary;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    .profile-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      margin-bottom: 5px;
      max-width: 56px;
    }

    .dropdown-content {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      cursor: pointer;
      width: 116px;
      // background-color: rgb(56, 56, 56, 0.85);
    }

    .dropdown-row-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4em;
      padding: 10px;
      border-radius: 5px;
      background-color: rgb(56, 56, 56, 0.85);
      transition: background-color 0.25s;
      max-height: fit-content;

      &.up {
        border-radius: 5px 5px 0 0;
      }

      &.down {
        border-radius: 0 0 5px 5px;
      }
    }
    .dropdown-row-content:hover {
      background-color: rgba(41, 40, 40, 0.98);
    }

    .menu-devider {
      background-color: rgb(235, 235, 235, 0.8);
    }
  }
}

//! SIDEBAR
.sidebar {
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  min-width: 130px;
  width: 20%;
  left: 0;
  border-right: 1px solid rgb(235, 235, 235, 0.5);
  background-color: $sidebar;

  .sidebar-content {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    padding-top: 1em;
    gap: 1.2em;
    align-items: center;

    .sidebar-devider {
      width: 100%;
      background-color: $section;
      opacity: 20%;
    }

    .sidebar-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      justify-content: space-between;

      .sidebar-tag-section {
        padding-bottom: 5px;
      }
    }

    .sidebar-content {
      display: flex;
      flex-direction: column;
    }

    .content-title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5em;
      padding-left: 17px;
      padding-bottom: 10px;
    }

    .sidebar-row {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      transition: background-color 0.25s;
      padding-left: 30%;

      .row-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
      }
    }
    .sidebar-row:hover {
      background-color: $secondary;
    }
  }
}

//! FOOTER

.footer {
  position: fixed;
  bottom: 0;
  left: calc(20% - 1px);
  height: 70px;
  width: 80%;
  z-index: 10;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 18, 18, 0.95);
    border-top: 1px solid rgb(235, 235, 235, 0.5);
    border-left: 1px solid $sidebar;
    border-right: 1px solid $sidebar;
    transform-origin: bottom left;

    .footer-player {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .footer-info {
      width: 20%;
      display: flex;
      flex-direction: row;
      gap: 1em;

      .post-user {
        width: calc(56px + 70%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.4em;
      }
      .post-username {
        display: flex;
        align-items: flex-end;
      }
    }

    .close-footer {
      cursor: pointer;
      padding-right: 20px;
    }
  }
}

//! PAGE: USER / TAG
.content-page {
  position: absolute;
  top: 70px;
  left: 20%;
  width: calc(100% - 20%);
  display: flex;
  flex-direction: column;

  .content-header {
    display: flex;
    border-bottom: 1px solid rgb(235, 235, 235, 0.5);
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;

    .user-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;

      .user-left {
        display: flex;
        justify-content: flex-end;
        gap: 2em;
      }

      .user-header-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;

        .tag-spotlight {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          font-weight: bold;
        }
      }
      .name-desc {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        .username {
          font-size: 2em;
        }
        .user-desc {
          max-width: 300px;
          flex-grow: 2;
        }
      }
      .social {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        font-weight: bold;

        .user-share {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: fit-content;
        }
      }
    }
    .user-spotlight {
      margin: 20px;
      display: flex;
      justify-content: space-between;

      .song-spotlight {
      }
    }
    .follow {
      width: max-content;
      height: max-content;
      font-weight: bold;
    }

    .tag-info {
      display: flex;
      width: 95%;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      gap: 2em;

      .tag-relation {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        height: fit-content;
      }
      .tag-social {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1em;

        .tag-connect {
          display: flex;
          font-display: row;
          justify-content: space-around;

          .link {
            width: fit-content;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  left: 45%;
  top: 80px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;

  .x {
    position: absolute;
    right: 10px;
    top: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  .modal-styles {
    background-color: rgb(18, 18, 18, 0.85);
    border-radius: 10px;
  }
}

//! FEED
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding-top: 2em;
  padding-bottom: 5em;
  min-height: 110vh;
}

//! FORMS
//! LOGIN/SIGNUP : NEW POST/TAG

.welcome-body {
  padding-top: 50px;
}

.auth-menu {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-top: 4em;
}

.auth-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//! FORM
.wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  padding: 40px;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;

  .form-label {
    font-size: 17px;
    font-weight: bold;
    color: $section;
    width: 250px;
  }

  .form-input {
    background: #dee1e2;
    color: $base-color;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .form-input:focus {
    background: #d3d3d4; //Change
  }

  .file-input {
    display: inline-block;
    box-sizing: border-box;
  }

  .tag-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
}

.field-info {
  font-size: 12px;
  font-weight: normal;
  color: #ebebeba8;
}

.button-row {
  display: flex;
  align-items: center;
}

.tag-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1em;

  .tag-col {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-self: flex-start;
  }

  .selected-label {
    font-size: 17px;
    font-weight: bold;
    color: $section;
  }
}

//! TAGS
.tag-group {
  display: flex;
  gap: 0.5em;
}

.tag-selection {
  display: flex;
  flex-wrap: wrap;
  width: 185px;
  min-height: 54px;
  max-height: 86px;
  border-radius: 5px;
  gap: 0.5em;
  background-color: #262626;
  padding: 15px;
  overflow: scroll;
}

.tags-user {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 345px;
  max-height: 86px;
  border-radius: 5px;
  gap: 0.5em;
  background-color: #262626;
  padding: 15px;
  overflow: scroll;
}

.tags-inheritance {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  max-width: 350px;
  max-height: 120px;
  border-radius: 5px;
  gap: 0.5em;
  background-color: #262626;
  padding: 15px;
  overflow: scroll;
}

.sidebar-tags-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .sidebar-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.43em;
    flex-wrap: wrap;
    min-width: 100px;
    width: max-content;
    max-width: 250px;
    max-height: 145px;
    border-radius: 5px;
    background-color: #262626;
    padding: 10px;
    margin: 0 6px;
    overflow: scroll;
  }
}

.tag {
  font-size: 0.9em;
  font-weight: 500;
  width: 72px;
  height: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $base-color;
  position: relative;
  transition: transform 0.25s;

  .x {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    right: 1px;
  }
}

.tag:hover {
  transform: scale(1.1, 1.1);
}

.tag-large {
  font-size: calc(0.9em * 2);
  font-weight: bold;
  width: calc(72px * 2.5);
  height: calc(24px * 2.5);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $base-color;
}

//! BUTTONS
.follow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  // background-color: #4673f3;
  color: $section;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

//! SUBMIT BUTTON
.main-button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-button::after,
.main-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.main-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.main-button.following::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0c4af5;
  border-radius: 10px;
}

.main-button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.main-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.main-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.main-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

//! TOHER

.persist-button {
  padding: 10px;
}

//! SEARCH BUTTON

.search-button {
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.crop-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
}

//! Porfile Pictures
.pic-small {
  width: 56px;
  height: 56px;
  border-radius: 20%;
}

.header-username {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.user-page-profile-pic {
  width: 160px;
  height: 160px;
  background-color: $tertiary;
  border-radius: 20%;
}

//! Cropper
.img-upload-container {
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(18, 18, 18, 0.9);
  z-index: 50;
}

.crop-container {
  height: 90%;
  width: 100%;
  padding: 10px;

  .cropper {
    height: 90%;
    position: relative;
  }

  .slider {
    padding: 22px 0px;
  }

  .zoom-range {
    height: 2px;
    border-top: 5px solid $section;
    border-bottom: 5px solid $section;
    background: #3f51b5;
    width: 100%;
  }
}

.crop-buttons {
  border: none;
  height: 10%;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.crop-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(66, 0, 128);
  color: $section;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

//! BORDER ANIMATION
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
